<h1>The About Section is Coming Soon</h1>
<div class="sectionWelcome">
  <span class="lead mb-3">Welcome, <%= user.name %></span>
  <a href="/users/logout" class="btn btn-secondary logoutBtn">Logout</a>
</div>
