<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Aclonica|Gorditas:700|Luckiest+Guy|Nosifer&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>VinAnna English with Node.js & Passport Login</title>
  </head>
  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list u-center-text">
          <li>
            <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
            <!-- <p style="color: yellow;">Create an account or login</p> -->

            <!-- <a
              href="/users/register"
              class="btn btn-primary btn-block mb-2 regBtn"
              >Register</a
            >
            <a href="/users/login" class="btn btn-secondary btn-block mb-2 loginBtn"
              >Login</a
            > -->
          </li>
          <li class="navigation__item">
            <a href="/" class="navigation__link"
              ><span>00</span
              ><i class="fa fa-home" style="text-align: center;"></i
            ></a>
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link"
              ><span>01</span>About Us</a
            >
          </li>
          <li class="navigation__item">
            <a href="/learn" class="navigation__link"><span>02</span>Learn</a>
          </li>
          <li class="navigation__item">
            <a href="/practice" class="navigation__link"
              ><span>03</span>Practice</a
            >
          </li>
          <li class="navigation__item">
            <a href="/enjoy" class="navigation__link"><span>04</span>Enjoy</a>
          </li>
          <li class="navigation__item">
            <a href="/more" class="navigation__link"><span>05</span>More</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="site-container"><%- body %></div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
