<section class="front">
  <div class="content">
    <div class="welcomeLine">
      <a href="/users/register" class="btn btn-primary btn-block mb-2 regBtn"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block mb-2 loginBtn"
        >Login</a
      >
    </div>
    <h2 class="nameLogo">
      <span class="one">vin</span><span class="two">anna</span> English
    </h2>
    <div class="vinh">
      <img src="../images/vinhAvatar200px.png" alt="vinh" />
    </div>
    <h3 class="slogan">
      Learn, Practice and Enjoy!!<br />English is Fun!!<br />
    </h3>
    <a href="/users/login" class="enterBtn" id="navLoad">Let's Learn!</a>

    <div class="anna">
      <img src="../images/annaAvatar200px.png" alt="anna" />
    </div>
  </div>
</section>

<section class="learn" id="learn">
  <h1><a href="/learn">Learn</a></h1>
  <i class="fas fa-book-reader"></i>
  <p>
    Learn with the various materials created by VinAnna English. Explore and try
    all the content and discover how you learn best, whether it's on your own,
    with your friends, with your teacher and classmates, etc. Use the materials
    you like and strive to accomplish all your English learning goals and
    endeavors.
  </p>
  <div class="learnContent">
    <div class="learnItem">
      <i class="fas fa-clipboard-list"></i>
      <p>Learn new words with vocabulary lists</p>
    </div>
    <div class="learnItem">
      <i class="fas fa-book"></i>
      <p>
        Learn grammar rules with simple, clear explanations and examples
      </p>
    </div>
    <div class="learnItem">
      <i class="fas fa-chalkboard"></i>
      <p>Learn other English concepts, like idioms, writing styles, etc.</p>
    </div>
  </div>
</section>

<section class="practice">
  <div class="practiceContainer">
    <div class="left">
      <h1><a href="/practice">Practice</a></h1>
      <i class="fas fa-school"></i>
      <p>
        Use the various materials to practice vocabulary, grammar concepts and
        other English topics. We have flashcards and practice quizzes with more
        to come soon!
      </p>
    </div>
    <div class="practiceContent">
      <div class="practiceItem">
        <i class="fas fa-language"></i>

        <p>
          Practice with flashcards where you can check the English and Korean
          word yourself.
        </p>
      </div>
      <div class="practiceItem">
        <i class="fas fa-clipboard-check"></i>
        <p>
          Practice and test your knowledge with quizzes.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="enjoy">
  <h1><a href="/enjoy">Enjoy</a></h1>
  <i class="far fa-laugh-beam"></i>
  <p>
    Have fun using your English knowledge with fun games and activities. There
    are matching and speed games that give you repetition to improve your memory
    of vocabulary words and grammar concepts. Enjoy all the materials to improve
    all your skills!
  </p>

  <div class="enjoyContent">
    <div class="enjoyItem">
      <!-- <i class="fas fa-grip-horizontal"></i> -->
      <i class="fas fa-th"></i>
      <p>
        Have fun with English and play a matching game with a friend or by
        yourself.
      </p>
    </div>
    <div class="enjoyItem">
      <i class="fas fa-tachometer-alt"></i>

      <p>
        See how many questions/words you can get correct in a limited amount of
        time with speed games.
      </p>
    </div>
    <div class="enjoyItem">
      <i class="fas fa-chalkboard-teacher"></i>
      <p>
        Bomb games, cowboy game, etc. you can play as a class with your teacher
        leading the game. Ask your teacher for a game day and enjoy studying
        English with your classmates!
      </p>
    </div>
    <div class="enjoyItem">
      <!-- <i class="far fa-file-alt"></i><i class="fas fa-book"></i>
              <i class="fas fa-book-open"></i><i class="fas fa-bomb"></i>
              <i class="fas fa-user-friends"></i> -->
      <i class="far fa-folder-open"></i>
      <!-- <i class="fas fa-file-signature"></i> <i class="fas fa-archive"></i>
              <i class="fas fa-mobile-alt"></i> -->
      <p>More games coming soon. Check back regularly to see what's new!</p>
    </div>
  </div>
</section>

<section class="more">
  <h1>More</h1>

  <p>
    There will be printables likes worksheets, practice resources, etc. in this
    section.
  </p>
</section>
