/* font-family: 'Luckiest Guy', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Nosifer', cursive;
font-family: 'Gorditas', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  /* height: 100vh; */
  /* display: flex; */
  background: #060ab2;
  background-image: linear-gradient(
      to right,
      rgba(100, 100, 100, 0.2),
      rgba(100, 100, 100, 0.5)
    ),
    url("../images/forestlight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Aclonica", sans-serif;
}

.overlayMenu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlayContent {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlayMenu h1 {
  color: lightcyan;
  padding: 20px;
}

.overlayMenu div .matching-game-select button {
  width: 120px;
  height: 40px;
  background-color: aqua;
  border-radius: 10px;
  border: 1px solid aqua;
  box-shadow: 1px 1px 3px aqua;
  font-family: "Aclonica", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.currentSelection {
  border: 5px solid yellow;
  padding: 0 20px;
}

.currentSelection h1 {
  color: yellow;
}

.overlayMenu #playBtn {
  width: 120px;
  height: 40px;
  background-color: lightcyan;
  border-radius: 10px;
  border: 1px solid aqua;
  box-shadow: 1px 1px 3px aqua;
  font-family: "Aclonica", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

#playBtn:disabled {
  color: #000;
}

#gameContainer {
  display: none;
}

.header {
  width: 90%;
  /* margin-top: 50px; */
}

.header h1 {
  width: 100vw;
  color: hotpink;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  background-color: rgba(0, 255, 255, 0.8);
  margin-bottom: 20px;
  padding: 10px 0;
  text-shadow: 1px 1px 3px #000;
}

.header h1 span {
  color: yellow;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95vw;
  margin-left: 2vw;
  font-size: 3em;
  text-shadow: 1px 1px 3px #000;
}

.scoreboard div p {
  color: #fff;
  text-align: left;
}

.countdownTimer {
  grid-column: 1 / 2;
  grid-row: 1;
  margin-left: 2.5%;
}

.matchesMade {
  grid-column: 2 / 3;
  grid-row: 1;
  justify-self: end;
  margin-right: 2.5%;
}

#timeBarBg {
  /* position: sticky;
  top: 0; */
  grid-column: 1 / -1;
  grid-row: 2;
  width: 100%;
  box-sizing: border-box;
  background-color: gray;
  /* border-radius: 10px; */
}

#timeBar {
  /* position: fixed; */
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  /* background-color: red;
  border: 8px solid orange;
  border-radius: 10px; */
  background: linear-gradient(to right, #f00, #0f0, #00f, #0f0, #f00);
  background-size: 600% 100%;
  animation: MoveBG 5s linear infinite, timer 60s linear 1000ms;
  text-align: center;
  line-height: 50px;
  color: white;
}

@keyframes MoveBG {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -120% 0;
  }
}

/* .animateTimer {
  animation: timer 60s linear;
  animation-delay: 1000ms;
} */

@keyframes timer {
  0% {
    width: 100%;
    /* background-color: red;
    border: 8px solid orange; */
  }
  /* 12% {
    background-color: orange;
    border: 12px solid yellow;
  }
  24% {
    background-color: yellow;
    border: 8px solid green;
  }
  36% {
    background-color: green;
    border: 4px solid lightblue;
  }
  48% {
    background-color: lightblue;
    border: 8px solid blue;
  }
  60% {
    background-color: blue;
    border: 12px solid purple;
  }
  72% {
    background-color: purple;
    border: 8px solid pink;
  }
  86% {
    background-color: pink;
    border: 4px solid red;
  } */
  100% {
    width: 0;
    /* background-color: red;
    border: 0px solid orange; */
  }
}

#homeBtn {
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
  padding: 5px;
}

/* #name1,
#name2 {
  position: relative;
  top: 0;
  width: 100%;
  background-color: yellow;
  border-radius: 10px;
} */
#turn {
  color: yellow;
  font-size: 2.5em;
  text-align: center;
  margin: auto;
}

.p2turn {
  display: none;
}
/* #turn {
  position: relative;
  font-size: 2em;
} */

.memory-game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
  /* display: flex;
  flex-wrap: wrap; */
  position: absolute;
  width: 85vw;
  max-height: 175%;
  margin: auto;
  margin-left: 5%;
  /* perspective: 1000px; */
  top: 240px;
  justify-content: center;
}

.memory-card {
  /* width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px; */
  position: relative;
  /* transform: scale(1); */
  /* transform-style: preserve-3d; */
  /* transition: transform 0.5s; */
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

/* .memory-card.flip {
  transform: rotateY(180deg);
} */

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

.front-face {
  box-shadow: 1px 1px 3px yellow;
}

.back-face {
  box-shadow: 1px 1px 3px white;
}

.front-word {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: yellow;
  text-align: center;
}

/* @media (min-width: 320px) and (max-width: 480px) {
  .front-word {
    font-size: 0.8rem;
  }
  .memory-game {
    grid-template-columns: repeat(5, 1fr);
  }
} */
/* .back-face img {
  width: 100%;
  height: auto;
} */

/* .front-face {
  transform: rotateY(180deg);
} */

/* @media (max-width: 1200px) {
  .front-word {
    font-size: 1rem;
  }
  .memory-game {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (max-width: 978px) {
  .front-word {
    font-size: 0.95rem;
    padding-top: 1.1rem;
  }
} */

.winnerBackground {
  background-color: #000;
  background-image: url("../images/starrySky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.winnerContainerBorder {
  font-family: "Gorditas", cursive;
  /* display: none; */
  width: 90%;
  height: 90%;
  position: absolute;
  background-color: orange;
  top: 5%;
  left: 5%;
  clip-path: polygon(
    42% 0,
    66% 18%,
    100% 0,
    79% 46%,
    100% 100%,
    39% 76%,
    0 92%,
    15% 51%,
    0 12%,
    27% 17%
  );
}

.winnerContainer {
  width: 82%;
  height: 80%;
  position: absolute;
  background-color: rgb(215, 253, 0);
  top: 10%;
  left: 8%;
  clip-path: polygon(
    42% 0,
    66% 18%,
    100% 0,
    79% 46%,
    100% 100%,
    39% 76%,
    0 92%,
    15% 51%,
    0 12%,
    27% 17%
  );
}

#winner,
.winner {
  position: relative;
  text-align: center;
  top: 25%;
}

/* #winner {
  font-size: 3rem;
  letter-spacing: 3px;
} */
.winner {
  font-size: 2rem;
}

.winnerContainer button {
  position: absolute;
  background-color: orange;
  border-radius: 7px;
  box-shadow: 2px 2px 5px darkgoldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  width: 100px;
  height: 30px;
  top: 60%;
}

#playAgain {
  left: 25%;
}

#mainMenu {
  left: 50%;
}

@media (max-width: 878px) {
  .header h1 {
    font-size: 3rem;
  }
  .winner {
    font-size: 1.6rem;
  }
}
@media (max-width: 686px) {
  .header h1 {
    font-size: 2rem;
  }
  .winner {
    font-size: 1.2rem;
  }
}
